<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post-page</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
    <h1 class="title">i am post page</h1>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aperiam voluptatum maiores fugit sed ipsam at laudantium aut, praesentium consequatur provident ducimus, molestias nesciunt fugiat in, et ad neque autem?</p>
</body>
</html>